.user-info-panel {
    min-height: 95%;
}

.my-info {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.my-discount {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.my-order {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.my-venuebook {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-input {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-tile {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.profile-button {
    position: absolute;
    top: 73px;
    left: 280px;
}

.password-tile {
    margin-top: 40px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.profile-password-panel {
    margin-top: 80px;
    margin-left: 225px;
    width: 40%;
}

.profile-password-button {
    margin-left: 140px;
}

.check-my-statistics{
    position: absolute;
    left: 120px;
    top: 250px;
}
