.venue-register{
    margin-top: 60px;
    margin-left: 180px;
    width: 70%;
}
.venue-register-info{
    margin-top: 60px;
    margin-left: 110px;
}
.venue-register-button{
    margin-top: 30px;
    margin-left: 500px;
}